<% %i{west north east south}.each do |player| %>
  <p>
  <%= player.to_s.upcase %>
  <%= player == @game_state.dealer ? "Ⓓ" : "" %>
  <%= player == @game_state.current_player ? "✪" : "" %>
  </p>
  <ul class="hand">
    <% @game_state.hand(player).each do |card| %>
      <li class="card"><%= unicode_card(card)%></li>
    <% end %>
  </ul>
<% end %>
<p>The kitty:</p>
<ul id="kitty">
  <% @game_state.kitty.each do |_| %>
    <li class="card"><%= unicode_card("BACK") %></li>
  <% end %>
</ul>
<p>The bid is <%= @game_state.highest_bid.nil? ? "nothing" : pretty_bid(@game_state.highest_bid) %>.</p>
<% if @game_state.in_bidding_phase? %>
  <p>The bidder is <%= @game_state.bidder %>.</p>
  <p>It is <%= @game_state.bidder %>'s turn to make a bid:</p>
  <%= form_for @game, url: { action: :bid } do %>
    <select name="bid_or_pass">
      <option>Bid</option>
      <option>Pass</option>
    </select>
    <select name="number_of_tricks">
      <option>6</option>
      <option>7</option>
      <option>8</option>
    </select>
    <select name="trump_suit">
      <option>♠</option>
    </select>
    <button type="submit">Submit</button>
  <% end %>
<% else %>
  <p>Pick a card to play</p>
<% end %>
