<div class="scores">
  <table class="trick">
    <tr>
      <th>North-South</th>
      <th>West-East</th>
    </tr>
    <tr>
      <td class="north-south"><%= @game_state.trick_scores[:north_south] %>
      <td class="west-east"><%= @game_state.trick_scores[:west_east] %>
    </tr>
  </table>
</div>
<% Players.new.call.each do |player| %>
  <p>
  <%= player.to_s.upcase %>
  <%= player == @game_state.dealer_seat ? "Ⓓ" : "" %>
  <%= player == @game_state.current_player_seat ? "✪" : "" %>
  </p>
  <ul class="hand<%= player == @game_state.current_player_seat ? " current_player_hand" : " other_hand" %>">
    <% @game_state.hand(player).each do |card| %>
      <li id="<%= card %>"
        class="card<%= player == @game_state.current_player_seat ? " not_hidden" : " hidden" %>">
      <% if @game_state.in_play_phase? && player == @game_state.current_player_seat %>
        <%= link_to unicode_card(card), { controller: "games", action: :play_card, player: player, card: card }, method: :put%>
      <% else %>
        <%= unicode_card(player == @game_state.current_player_seat ? card : "BACK")%>
      <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
<p>The kitty:</p>
<ul id="kitty">
  <% @game_state.kitty.each do |_| %>
    <li class="card"><%= unicode_card("BACK") %></li>
  <% end %>
</ul>
<% if @game_state.in_play_phase? || @game_state.in_scoring_phase? %>
  <p>The trick:<p>
  <ul id="trick">
  <% Players.new.call.each do |player| %>
    <% if @game_state.card_played?(player) %>
      <li class="card" id="<%= @game_state.trick[player] %>"><%= "#{player.to_s.chars.first.upcase} #{unicode_card(@game_state.trick[player])}" %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>
<p>The bid is <%= @game_state.highest_bid.nil? ? "nothing" : pretty_bid(@game_state.highest_bid) %>.</p>
<% if @game_state.in_bidding_phase? %>
  <%= form_for @game, url: { action: :bid }, html: { id: "bid_submission_form" } do %>
    <select id="bid_or_pass" name="bid_or_pass">
      <option>Bid</option>
      <option>Pass</option>
    </select>
    <select id="number_of_tricks" name="number_of_tricks">
      <option>6</option>
      <option>7</option>
      <option>8</option>
    </select>
    <select id="trump_suit" name="trump_suit">
      <option>♠</option>
    </select>
    <button type="submit">Submit</button>
  <% end %>
<% end %>
<% if @game_state.in_play_phase? %>
  <p>Pick a card to play</p>
<% end %>
<% if @game_state.phase == :scoring %>
  <p><%= @game_state.trick_winning_player.name %> won the trick!</p>
<% end %>
