<table class="table table-striped scores">
  <tr>
    <th></th>
    <th>North-South</th>
    <th>West-East</th>
  </tr>
  <tr class="trick">
    <td>Tricks</td>
    <td class="north-south"><%= @game_state.scoreboard.trick_scores[:north_south] %></td>
    <td class="west-east"><%= @game_state.scoreboard.trick_scores[:west_east] %></td>
  </tr>
  <tr class="points">
    <td>Points</td>
    <td class="north-south"><%= @game_state.scoreboard.points[:north_south] %></td>
    <td class="west-east"><%= @game_state.scoreboard.points[:west_east] %></td>
  </tr>
</table>
<div class="list-group">
<% Seats.new.call.each do |seat| %>
  <div class="list-group-item">
  <p>
  <%= seat.to_s.upcase %>
  <%= seat == @game_state.dealer_seat ? "Ⓓ" : "" %>
  <%= seat == @game_state.current_player_seat ? "✪" : "" %>
  </p>
  <ul class="btn-group hand<%= seat == @game_state.current_player_seat ? " current_player_hand" : " other_hand" %>">
    <% @game_state.player(seat).hand.each do |card| %>
      <li id="<%= card %>"
        class="btn card<%= seat == @game_state.current_player_seat ? " not_hidden" : " hidden" %>">
      <% if @game_state.phase == :play && seat == @game_state.current_player_seat %>
        <%= link_to unicode_card(card), { controller: "games", action: :play_card, player: seat, card: card }, method: :put%>
      <% else %>
        <%= unicode_card(seat == @game_state.current_player_seat ? card : "BACK")%>
      <% end %>
      </li>
    <% end %>
  </ul>
  </div>
<% end %>
  <div class="list-group-item">
<p>The kitty:</p>
<ul class="btn-group" id="kitty">
  <% @game_state.kitty.each do |_| %>
    <li class="btn card"><%= unicode_card("BACK") %></li>
  <% end %>
</ul>
  </div>
</div>
<% if %i{ play scoring }.include?(@game_state.phase) %>
  <p>The contract is for <%= "#{@game_state.contract.number_of_tricks}#{@game_state.contract.trump_suit}" %>.</p>
  <p>The contracting team is <%= team(@game_state.contract.bidder.team) %>.</p>
  <p>The trick:<p>
  <ul id="trick">
  <% Seats.new.call.each do |seat| %>
    <% if @game_state.trick.player_has_played?(seat) %>
      <li class="card" id="<%= @game_state.trick.played_card(seat) %>"><%= "#{seat.to_s.chars.first.upcase} #{unicode_card(@game_state.trick.played_card(seat))}" %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>
<% if @game_state.phase == :bidding %>
  <p>The highest bid is <%= @game_state.highest_bid.nil? ? "nothing" : pretty_bid(@game_state.highest_bid) %>.</p>
  <%= form_for @game, url: { action: :bid }, html: { id: "bid_submission_form" } do %>
    <select id="bid_or_pass" name="bid_or_pass">
      <option>Bid</option>
      <option>Pass</option>
    </select>
    <select id="tricks_count" name="tricks_count">
      <% (6..10).each do |tricks_count| %>
        <option><%= tricks_count %></option>
      <% end %>
    </select>
    <select id="trump_suit" name="trump_suit">
      <% %w{ ♠ ♣ ♦ ♥ }.each do |trump_suit| %>
        <option><%= trump_suit %></option>
      <% end %>
    </select>
    <button type="submit">Submit</button>
  <% end %>
  <% if @game_state.all_players_have_passed? %>
    <p>Every player passed. The cards must be redealt.</p>
  <% end %>
<% end %>
<% if @game_state.phase == :play %>
  <p>Pick a card to play</p>
<% end %>
<% if @game_state.phase == :trick_scoring %>
  <p><%= @game_state.trick_winning_player.name %> won the trick!</p>
  <%= link_to "Continue", { controller: "games", action: :start_next_trick }, method: :put%>
<% elsif @game_state.phase == :round_scoring %>
  <%= link_to "Continue", { controller: "games", action: :start_next_round }, method: :put%>
<% end %>
