<!-- <%= @game_state.deck %> -->
<table class="table table-striped scores">
  <tr>
    <th></th>
    <th>North-South</th>
    <th>West-East</th>
  </tr>
  <tr class="trick">
    <td>Tricks</td>
    <td class="north-south"><%= @game_state.scoreboard.trick_scores[:north_south] %></td>
    <td class="west-east"><%= @game_state.scoreboard.trick_scores[:west_east] %></td>
  </tr>
  <tr class="points">
    <td>Points</td>
    <td class="north-south"><%= @game_state.scoreboard.points[:north_south] %></td>
    <td class="west-east"><%= @game_state.scoreboard.points[:west_east] %></td>
  </tr>
</table>
<% if %i{ play trick_scoring round_scoring }.include?(@game_state.phase) %>
  <div class="alert alert-info">
    <p>The contract is for <b><%= "#{@game_state.contract.number_of_tricks}#{@game_state.contract.trump_suit}" %></b>.</p>
    <p>The contracting team is <b><%= team(@game_state.contract.bidder.team) %></b>.</p>
  </div>
<% end %>
<% if @game_state.phase == :play %>
  <div class="alert alert-warning">
    <p>Pick a card to play</p>
  </div>
<% end %>
<div class="list-group">
<% Seats.new.call.each do |seat| %>
  <div class="list-group-item">
  <p>
  <%= seat.to_s.upcase %>
  <% if seat == @game_state.dealer_seat %><span class="glyphicon glyphicon-star" aria-hidden="true"></span><% end %>
  <% if seat == @game_state.current_player_seat %><span class="glyphicon glyphicon-user" aria-hidden="true"></span><% end %>
  </p>
  <ul class="btn-group hand<%= seat == @game_state.current_player_seat ? " current_player_hand" : " other_hand" %>">
    <% @game_state.player(seat).hand.each do |card| %>
      <li id="<%= card %>"
      class="btn <%= colour(card) %> card<%= seat == @game_state.current_player_seat ? " not_hidden" : " hidden" %>">
      <% if @game_state.phase == :play && seat == @game_state.current_player_seat %>
        <%= link_to unicode_card(card), { controller: "games", action: :play_card, player: seat, card: card }, method: :put%>
      <% else %>
        <%= unicode_card(seat == @game_state.current_player_seat ? card : "BACK")%>
      <% end %>
      </li>
    <% end %>
  </ul>
  </div>
<% end %>
  <div class="list-group-item">
<p>The kitty:</p>
<ul class="btn-group hidden" id="kitty">
  <% @game_state.kitty.each do |_| %>
    <li class="btn card"><%= unicode_card("BACK") %></li>
  <% end %>
</ul>
  </div>
</div>
<% if %i{ play trick_scoring round_scoring }.include?(@game_state.phase) %>
  <div class="alert">
    <p>The trick:<p>
    <table class="table" id="trick">
      <tr>
    <% Seats.new.call.each do |seat| %>
      <% if @game_state.trick.player_has_played?(seat) %>
        <td><%= seat.to_s.titlecase %></td>
      <% end %>
    <% end %>
      </tr>
      <tr>
    <% Seats.new.call.each do |seat| %>
      <% if @game_state.trick.player_has_played?(seat) %>
        <td class="card" id="<%= @game_state.trick.played_card(seat) %>"><%= unicode_card(@game_state.trick.played_card(seat)) %></td>
      <% end %>
    <% end %>
      </tr>
    </table>
  </div>
<% end %>
<% if @game_state.phase == :bidding %>
  <p>The highest bid is <b><%= @game_state.highest_bid.nil? ? "nothing" : pretty_bid(@game_state.highest_bid) %></b>.</p>
  <%= form_for @game, url: { action: :bid }, html: { id: "bid_submission_form" } do %>
    <select id="bid_or_pass" name="bid_or_pass">
      <option>Pass</option>
      <option>Bid</option>
    </select>
    <select id="tricks_count" name="tricks_count">
      <% (6..10).each do |tricks_count| %>
        <option><%= tricks_count %></option>
      <% end %>
    </select>
    <select id="trump_suit" name="trump_suit">
      <% %w{ ♠ ♣ ♦ ♥ }.each do |trump_suit| %>
        <option><%= trump_suit %></option>
      <% end %>
    </select>
    <button class="btn btn-default" type="submit">Submit</button>
  <% end %>
  <% if @game_state.all_players_have_passed? %>
    <p>Every player passed. The cards must be redealt.</p>
  <% end %>
<% end %>
<% if %i{ trick_scoring round_scoring }.include?(@game_state.phase) %>
  <div class="alert alert-success">
    <p><%= @game_state.player(@game_state.trick.winning_player).name %> won the trick!</p>
  </div>
<% end %>
<% if %i{ trick_scoring }.include?(@game_state.phase) %>
  <div class="btn btn-default">
    <%= link_to "Continue", { controller: "games", action: :start_next_trick }, method: :put%>
  </div>
<% elsif %i{ round_scoring }.include?(@game_state.phase) %>
  <div class="btn btn-default">
    <%= link_to "Continue", { controller: "games", action: :start_next_round }, method: :put%>
  </div>
<% end %>
